Sofka.Automation.Test/Sofka.Automation.Test.BusinessComponent/Service References/LoanService/Loan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" />
  <xs:element name="LoanRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" minOccurs="0" name="request" nillable="true" type="q1:LoanRequestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" minOccurs="0" name="LoanRequestResult" nillable="true" type="q2:LoanRequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Prueba">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" minOccurs="0" name="PruebaResult" nillable="true" type="q3:LoanRequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>