Sofka.Automation.Test/Sofka.Automation.Test.BusinessComponent/Service References/LoanService/Loan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Loan" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILoan_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" />
      <xsd:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Common" />
      <xsd:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Globalization" />
      <xsd:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Enumerations" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoan_LoanRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:LoanRequest" />
  </wsdl:message>
  <wsdl:message name="ILoan_LoanRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoanRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ILoan_Prueba_InputMessage">
    <wsdl:part name="parameters" element="tns:Prueba" />
  </wsdl:message>
  <wsdl:message name="ILoan_Prueba_OutputMessage">
    <wsdl:part name="parameters" element="tns:PruebaResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoan">
    <wsdl:operation name="LoanRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoan/LoanRequest" message="tns:ILoan_LoanRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoan/LoanRequestResponse" message="tns:ILoan_LoanRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prueba">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoan/Prueba" message="tns:ILoan_Prueba_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoan/PruebaResponse" message="tns:ILoan_Prueba_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoan" type="tns:ILoan">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoanRequest">
      <soap:operation soapAction="http://tempuri.org/ILoan/LoanRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prueba">
      <soap:operation soapAction="http://tempuri.org/ILoan/Prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ILoan" type="tns:ILoan">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILoan_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoanRequest">
      <soap:operation soapAction="http://tempuri.org/ILoan/LoanRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prueba">
      <soap:operation soapAction="http://tempuri.org/ILoan/Prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Loan">
    <wsdl:port name="BasicHttpBinding_ILoan" binding="tns:BasicHttpBinding_ILoan">
      <soap:address location="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ILoan" binding="tns:BasicHttpsBinding_ILoan">
      <soap:address location="https://laptop/Sofka.Automation.Dummy.Wcf/Loan.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>