Sofka.Automation.Test/Sofka.Automation.Test.BusinessComponent/Service References/LoanService/Loan2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Loan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Sofka.Automation.Dummy.Wcf/Loan.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Enumerations" />
  <xs:complexType name="LoanRequestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmmountRequested" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Enumerations" minOccurs="0" name="Type" type="q1:LoanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanRequestRequest" nillable="true" type="tns:LoanRequestRequest" />
  <xs:complexType name="LoanRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmmountApproved" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmmountRequested" type="xs:decimal" />
      <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sofka.Automation.Dummy.Entities.Enumerations" minOccurs="0" name="ControlRiskState" type="q2:ControlRiskState" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanRequestResponse" nillable="true" type="tns:LoanRequestResponse" />
</xs:schema>